@use '../abstracts/' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --font-small: 1.3rem;
  --font-normal: 1.6rem;
  --font-l: 2rem;
  --font-xl: 2.5rem;
  --font-section-title: 3rem;
  --font-menu: 4.5rem;
  --font-xxl: 6rem;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
}
